.Form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.Form label {
  color: #e4e4e4;
  margin-bottom: 10px;
}

.Form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.Form select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.selected-temperaments {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.selected-temperaments li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.selected-temperaments li button {
  margin-left: 5px;
  padding: 2px 5px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Form button[type="submit"] {
  padding: 10px;
  background-color: rgb(10, 10, 10);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
}

.inputWrapper {
  flex-basis: 45%;
}

.inputWrapper label {
  display: block;
  margin-bottom: 5px;
}

.errors {
  color: red;
  font-size: 0.8em;
}
