.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.detailContainer {
  width: 90%;
  max-width: 600px;
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  background-color: #ffffff10;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  overflow: hidden;
  cursor: pointer;
}

.detailImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.detailName {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.detailInfo {
  color: white;
  margin: 5px;
  font-weight: 400;
}

.temperamentsTitle {
  color: white;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.temperamentsContent {
  color: white;
  margin: 5px;
  margin-bottom: 20px;
  font-weight: 400;
}

.buttonClose {
  width: 100%;
  height: 35px;
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.linkClose {
  width: 100%;
  height: 35px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.Loading {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
