.containerPaginate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .containerPaginate {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }
}

.pageControl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  padding: 5px;
}

.pageControlNumber {
  position: relative;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4e4e4;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  padding: 5px;
  height: 15px;
}
