.containerHome {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 5px;
}

.selectors {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  width: 100%;
}
