.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 35px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  max-width: 1350px;
  margin: 20px;
}
